.hero__content{
    font-weight: 600;
    line-height: 55px;
}

.hero__content{
    padding-top: 80px;
}
.hero-img{
    border-radius: 10px;
}
.serche input{
   
    border-radius: 15px;
}

.serche{
    display: grid;
    align-content: center;
    gap: 27px;
    
}
.serche input{
    height: 38px;
}
.serche button{
    background: #17bf9e;
  color: #fff;
  width: 90px;
  border-radius: 22px;
  border: none;
  transition: 0.3s ease;
  font-size: 14px;
  height: 35px;
  opacity: 0.8;
  text-align: center;
}